.auth-wrapper .auth-box .modal-bg-img {
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #fff;
}

.auth-wrapper .auth-box {
    /*  */
    margin: unset !important;
}

.bg-gray-custom {
    background-color: #fbfbfb;
}

.sidebar-nav {
    padding-bottom: 20px;
}

.sidebar-nav #sidebarnav .sidebar-item .sidebar-link {
    font-size: 14px;
    padding: 10px 30px;
    transition: all ease-in-out .5s;
}

.sidebar-nav #sidebarnav .sidebar-item .sidebar-link.active,
.sidebar-nav #sidebarnav .sidebar-item .sidebar-link:hover {
    background: #0f3650;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

#main-wrapper[data-layout="vertical"] .topbar[data-navbarbg="skin6"] {
    background: #e8eaec;
}

@media screen and (max-width:767px) {
    .bg-gray-custom {
        background-color: #fff;
    }

    .card .card-body {
        padding: 15px !important;
    }

    .auth-wrapper .auth-box {
        min-height: 100vh;
    }

    .page-breadcrumb {
        padding: 20px 15px 0;
    }

    .page-wrapper>.container-fluid {
        padding: 15px;
    }

    .sidebar-nav #sidebarnav .sidebar-item .sidebar-link {
        /* font-size: 14px !important; */
        padding: 10px !important;
    }

    /* #main-wrapper[data-sidebartype="mini-sidebar"] .left-sidebar {
        left: -260px;
    } */
}

.table-style {
    border: none !important;
    color: unset !important;
}

.table-style-border {
    color: unset !important;
}

.table-style td,
.table-style th {
    border: none !important;
}

.gap-2 {
    gap: 0.5rem;
}

.gap-3 {
    gap: 1rem;
}